div{
    background-color: tomato;
    margin-bottom: 20px;
}
.bb{
    background-color: teal;
}
h1{
    color: white;
}
h2{
    color: yellow;
}
p{
    color: blue;
}

.cc{
    color: violet;
}
.dd{
    background-color: red;
}
h3{
    color: black;
    
}
.ee{
    color: gainsboro;
}